
/* body{

background-image: url(images/welf.jpg);
background-size: 100%;



}  */

a{
text-align: center;
font-size: 0.5cm;
}
h1{
    text-align: center;
    color:#b97208;
    font-size: 0.5cm;
    margin-top: 0.3cm;
    
 
   
}





 p{
/* 
padding-left: 4.5cm; */
font-size: 17px;
font-style: normal;
font-family: 'Times New Roman', Times, serif;

} 



@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
  }