
body{


  margin-left: 0.5cm;
  
  
}

a{
text-align: center;
font-size: 0.5cm;
}
h1{
    text-align: center;
    color:#b97208;
    font-size: 0.7cm;
    
    
 
   
}


  img{
    width: 10%;
    height: 15%
  }
  .image1{
    width: 70%;
    height: 55%;
    float: right;
  }

  .image2{
    width: 70%;
    height: 55%;
   
  }




 p{
/* 
padding-left: 4.5cm; */
font-size: 15px;
font-style: normal;
font-family: 'Times New Roman', Times, serif;

} 



@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; 
    }
  }