
body{

background-image: url(images/welf.jpg);
background-size: 100%;


} 

a{
text-align: center;
font-size: 0.5cm;
}
h1{
    text-align: center;
    color:#b97208;
    font-size: 0.7cm;
    margin-top: 4.2cm;
 
   
}


 p{

padding-left: 4.5cm;
font-size: 17.5px;

 }

blockquote
{
margin-left: 4.5cm;
}